<!doctype html>
<html lang="en" ng-app="weathercatJS">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AngularJS client for the GreetingsApp">
    <meta name="author" content="http://rhizomik.net/~roberto/">
    <title>GreetingsJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="greeting-tab/greeting-tab.js"></script>
    <script src="greeting-form/greeting-form.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GreetingsJS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container" ng-controller="WeathercatController as controller" ng-init="controller.listRegions()">
    <header>
        <h1 class="text-center">WeatherCatJS</h1>

        <h3 class="text-center">The AngularJS client for WeatherCatApp</h3>

        <h3>&nbsp;</h3>
    </header>
    <section class="tab">
        <ul class="nav nav-tabs">
            <li ng-class="{active: controller.isSet(1)}">
                <a href ng-click="controller.setTab(1)">Previsió comarques</a></li>
            <li ng-class="{active: controller.isSet(2)}">
                <a href ng-click="controller.setTab(2)">Alertes d'usuari</a></li>
        </ul>

        <div class="tab-content" ng-show="controller.isSet(1)">
            <table>
                <tr>
                    <td>
                        <div ng-repeat="region in controller.regions">
                            <a ng-click="controller.getWeather(region)">{{region}}</a>

                        </div>

                    </td>
                    <td>
                        <div class="region-weather" ng-show="controller.isActiveWeather()">
                            <h2>Temps de la comarca: {{controller.regionWeatherName}}</h2>

                            <p> El temps es: {{controller.regionWeatherWeather}}</p>
                            <img src={{controller.regionWeatherImage}} width="420" height="420" />
                        </div>

                    </td>
                </tr>
            </table>







        </div>
        <div class="tab-content" ng-show="controller.isSet(2)">
            <form novalidate>
                <label>Username:</label>
                <input type="text" ng-model="controller.user.username"/>
                <label>Email:</label>
                <input type="text" ng-model="controller.user.email"/>
                <button ng-click="controller.retrieveUserAlerts()">Entra</button>
            </form>
            <div ng-show="controller.isRetrievedUser()">
                <h1>Usuari:{{controller.user.username}}</h1>
                <h2>Llista d'alertes</h2>
                <ul>
                <div ng-repeat="alert in controller.user.alerts">
                    <li>Comarca: {{alert.region}}  Temps: {{alert.weather}} Estat: {{alert.enabled}}
                        <form method="POST" action="/users/{{controller.user.username}}/{{controller.user.alert.id}}">
                            <input type="hidden" value={{controller.user.alert.id}}>
                            <button type="submit" ng-click="controller.enable_disable_alert()">Activar/Desactivar</button>
                            <button type="submit" ng-click="controller.deleteAlert()">Eliminar</button>
                        </form></li>
                </div>
                </ul>
                <form novalidate>
                    <table>
                        <tr>
                            <td><label>Nova alerta:</label></td>

                            <td><select ng-model="controller.alert.region">
                                <option value="Alt Camp">Alt Camp</option>
                                <option value="Alt Emporda">Alt Emporda</option>
                                <option value="Alt Penedes">Alt Penedes</option>
                                <option value="Alt Urgell"/>Alt Urgell</option>
                                <option value="Alta Ribagorça">Alta Ribagorça</option>
                                <option value="Anoia">Anoia</option>
                                <option value="Bages">Bages</option>
                                <option value="Baix Camp">Baix Camp</option>
                                <option value="Baix Ebre">Baix Ebre</option>
                                <option value="Baix Emporda">Baix Emporda</option>
                                <option value="Baix Llobregat">Baix Llobregat</option>
                                <option value="Baix Penedes">Baix Penedes</option>
                                <option value="Barcelones">Barcelones</option>
                                <option value="Bergueda">Bergueda</option>
                                <option value="Cerdanya">Cerdanya</option>
                                <option value="Conca Barbera">Conca de Barbera</option>
                                <option value="Garraf">Garraf</option>
                                <option value="Garrigues">Garrigues</option>
                                <option value="Garrotxa">Garrotxa</option>
                                <option value="Girones">Girones</option>
                                <option value="Maresme">Maresme</option>
                                <option value="Montsia">Montsia</option>
                                <option value="Noguera">Noguera</option>
                                <option value="Osona">Osona</option>
                                <option value="Pallars Jussa">Pallars Jussa</option>
                                <option value="Pallars Sobira">Pallars Sobira</option>
                                <option value="Pla Estany">Pla Estany</option>
                                <option value="Pla Urgell">Pla Urgell</option>
                                <option value="Priorat">Priorat</option>
                                <option value="Ribera Ebre">Ribera d'Ebre</option>
                                <option value="Ripolles">Ripolles</option>
                                <option value="Segarra">Segarra</option>
                                <option value="Segria">Segria</option>
                                <option value="Selva">Selva</option>
                                <option value="Solsones">Solsones</option>
                                <option value="Tarragones">Tarragones</option>
                                <option value="Terra Alta">Terra Alta</option>
                                <option value="Urgell">Urgell</option>
                                <option value="Vall Aran">Val Aran</option>
                                <option value="Valles Occidental">Valles Occidental</option>
                                <option value="Valles Oriental">Valles Oriental</option>
                            </select></td>
                            <td><select ng-model="controller.alert.weather">
                                <option value="Nubol">Nubol</option>
                                <option value="Boira">Boira</option>
                                <option value="Pluja">Pluja</option>
                                <option value="Neu">Neu</option>
                                <option value="Tempesta de neu">Tempesta de neu</option>
                                <option value="Sol">Sol</option>
                                <option value="Sol i nubol">Sol i Nubol</option>
                                <option value="Tempesta">Tempesta</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td><button ng-click="addAlert()">Afegeix l'alerta</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </section>
</div>
<!-- /.container -->

</body>
</html>

